<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="flyrecord.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <flyrecord.Properties.Settings>
            <setting name="entireScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="followCursor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="outputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="frameRate" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="frameRateIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </flyrecord.Properties.Settings>
    </userSettings>
</configuration>